<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     
    <ion-title>Home</ion-title>
      <ion-buttons end>
        <button (click)="call()">
        <ion-icon name="call" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Mobile Number</ion-label>
      <ion-input type="text" [(ngModel)]="mobileNo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="otp" (ngModelChange)="verify()"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button color="secondary" (click)="sendOtp()">Send</button>      
    </ion-item>

    <ion-item>
      <button ion-button color="secondary" (click)="resend()">Re-Send</button>      
    </ion-item>

    <ion-item>
      <button (click)="fbLogin()" ion-button color="primary">FB Login</button>
      <button (click)="googleLogin()" ion-button color="primary">Google Login</button>
    </ion-item>
    <ion-item>
      
    </ion-item>
    <!-- <ion-item>
     
       <ion-icon name="camera" (click)="takePicture()"></ion-icon> 
      
    </ion-item> -->
    <ion-item>
      <!-- <button ios-call (click)="call()"></button> -->
        <!-- <ion-icon name="camera" (click)="sendPostData()"></ion-icon>  -->
        <button (click)="sendPostData()" ion-button color="primary">Post</button>
    </ion-item>  

    

    

    <ion-item *ngIf="base64Image" >
      <img [src]="base64Image" width="50px" height="50px">
      
      
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
       <ion-icon name="camera" (click)="takePicture()"> Select Image</ion-icon> 
        
    </ion-item>
  </ion-toolbar>
</ion-footer>
